div.image-box
    div.image-controls
        a(href='#', class='discard')
            img(src='/images/close.png')
        a(href='#')
            img(src='/images/plus.png')
    div.image
        <img id="#{image}" src="/image/#{image}" />
