!!!
html
  head
    title= 'Bolt'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
    script(src='/javascripts/script.js')
  body
  div#bar
    span#logo photolab.js
    - if (process)
        span#process
            a(href='#', id='process-btn') Process me
  div#wrap
    != body
